/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Encabezado */
header {
    background-color: rgb(1, 0, 1);
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container img {
    height: 80px;
    width: 160px;
    margin-left: 20px; 
}

.title-container {
    text-align: center;
    
    margin-left: 280px;
}

.title-container img {
    height: 80px;
    width: 220px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Inicio */

main {
    padding: 20px;
    flex: 1;
}
.main-image img {
    width: 80%;
    height:30%;
    margin-left: 10%;
}

.Featured2 {
    display: flex;
    align-items: center;
}

.main-text {
     margin-left: 20px;
     flex: 1;
}

.photo-featured img {
    width: 400px;
    height: 300px;
    max-width: 100%;
}

/* Certificados */

.certificados {
    display: flex;
    max-width: 100%;
}

.certText {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 15%;
}

.certText1 .certText2 {
    margin-left: 5%;
    height: 20%;
}

.certText3 {
    margin-left: 5%;
    height: 60%;
}

.certImage {
    width: 50%;
    margin-left: 10%;
    
}

.certImage img {
    height: 700px;
    width: 500px;
}

.certText3 ul li {
    margin-bottom: 2%;
}

/* Servicios */

.servicios {
    display: flex;
    flex-direction: column;
}
.servicios1 {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
 
.serviciosLista {
    width: 20%;
    border: 2px solid #000;
    border-radius: 10%;
}

.serviciosLista ul li {
    margin-bottom: 3%;
}

.servicioOpcion {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 5%;
    border: 2px solid #000;
    border-radius: 10%;
    padding: 10px;
}

.serviciosOpcion1 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.serviciosOpcion1 p {
    width:200px ;
    text-align: center;
}

.serviciosOpcion1 img {
    width: 300px;
    height: 200px;
    margin-left: 13%;
}

.servicios2 {
    display: flex;
    margin-left: 7%;
}

.servicios2Opciones {
    display: flex;
    flex-direction: column;
}
.servicios2OpcionesAbajo {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.servicios2OpcionesArriba {
    display: flex;
    flex-direction: row;
    margin-top: 5% ;
    margin-bottom: 5% ;
}

.servicios2imagen {
    margin-left: 8%;
    margin-top: 3%;
    
}

.servicios2imagen img {
    width: 425px;
    height: 800px;
    border: 2px solid #000;
    border-radius: 10%;
}

/* Contacto */
/* Pie de pagina */

footer {
    background-color: rgb(1, 0, 1);
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
